<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <script type="text/javascript" src="static/js/script.js"></script>
        <link rel="stylesheet" href="static/css/style.css">
        <title>Todo App</title>
    </head>
    <body>
        <div id="post">
            <h1>Todo App</h1>
            <p id="welcome"> Hello! Anonymous</p>
            <form action="/add" method="post">
                <textarea id="msg" name="text" cols="40" rows="1" maxlength="140" oninput="auto_height(this)" onkeydown="if(event.ctrlKey && event.keyCode == 13) { document.getElementById('send').click(); return false };" required></textarea>
                <input type="submit" value="Add" id="send">
            </form>
        </div>
        <br />
        <div id="view">
            <h1>All messages</h1>
            {% for entry in entries %}
                <div id="lists">
                    <form action="/delete" method="post">
                        <input type="hidden" name="id" value="{{ entry.id }}">
                        <p>
                            {{ entry.text|safe }}<br />
                            <input type='submit' id='erase' value='Delete'>
                        </p>
                    </form>
                </div>
            {% endfor %}
        </div>
    </body>
</html>

